<p class="text-primary"><em>Submit your <strong>FFXIV PvP</strong> focused channel below.</em></p>

{{ form_open({ request: __SELF__~'::onRequestSubmit' }) }}
<input type="hidden" id="subject" name="subject" value="{{ request_type }}">

<div class="form-group">
    <label for="name" class="text-white">Channel Name</label>
    <input type="text" class="form-control" id="name" name="name"
           placeholder="Your Channel Name" value="{{ form_value('name') }}">
</div>

<div class="form-group">
    <label for="message" class="text-white">Channel Information</label>
    <textarea class="form-control"
              id="message" name="message" rows="3">{{ form_value('message') }}</textarea>
</div>